# turning on the rewrite engine
RewriteEngine On

RewriteRule ^furdo/([^/]+)/? spa.php?spa-name=$1

# removing .php extension from every link
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
