/*
*
* Created by Marton
* https://marton.lederer.hu
*
*/

@import "//indestructibletype.com/fonts/Jost.css";
@import "//use.fontawesome.com/releases/v5.2.0/css/all.css";

body {

  margin: 0;
  overflow-x: hidden;
  font-family: Jost, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #00c968;

}

::selection {

  background: #00c968;
  color: #fff;

}

::-moz-selection {

  background: #00c968;
  color: #fff;

}

.spa {

  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

}

.spa .container {

  overflow: auto;
  height: 85vh;
  width: 80vw;
  background-color: #fff;
  border-radius: 17px 17px 0 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px 0;
  animation: show-panel .54s;

}

.spa .container h1.spa-name {

  font-size: 32px;
  margin: 0 0 10px 0;
  font-weight: 500;

}

.spa .container h2 {

  color: #9c9c9c;
  font-size: 20px;
  margin: 0 0 7px 0;
  font-weight: 400;

}

.spa .container p {

  font-size: 17px;

}

.spa .container h1.subtitle {

  font-size: 24px;
  margin: 0 0 8px 0;
  font-weight: 500;

}

.spa .container .galery img {

  display: inline-block;
  margin: 10px;
  height: 200px;
  cursor: pointer;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

}

.spa .container .galery img:hover {

  opacity: .7;

}

.map {

  height: 100vh;
  width: 100vw;

}

@keyframes show-panel {

  from {

    bottom: -100vh;

  }

  to {

    bottom: 0;

  }

}

@-webkit-keyframes show-panel {

  from {

    bottom: -100vh;

  }

  to {

    bottom: 0;

  }

}

@media screen and (max-width: 790px) {

  .spa .container .galery img {

    height: auto;
    width: 100%;

  }

}
